html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 200px;
	background-image: linear-gradient(
		to right top,
		#4a0202,
		#760202,
		#850202,
		#460360,
		#6c05a4
	);
	background-size: cover;
	height: 1700px;
}
h1{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
a {
	color: white;
	text-decoration: none;
	transition: 0.3s ease-out;
	font-size: 16px!important;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
a:hover {
	color: aqua;
}
.header {
	width: 100%;
	margin-bottom: 30px;
}
.header__wrap-zdjecie {
	max-height: 200px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.header__wrap-zdjecie img {
	width: 400px;
	height: 200px;
}
.header__wrap-tekst {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

@media only screen and (max-width: 1200px) {
	body {
		padding: 100px;
	}
}
